<%# <div class="footer" style="background-color:#f1f1f1">
  <div class="footer-links">
    <a href="https://github.com/pc56"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/dragon.official/"><i class="fab fa-instagram"></i></a>
    <a href="https://fr-fr.facebook.com/AGHSCDragonHelico/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/DragonsOfficiel"><i class="fab fa-twitter"></i></a>
    <a href="https://fr.linkedin.com/company/groupe-dragon"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Ce site vous est proposé avec <i class="fas fa-heart"></i> par Céline, Denis, Pierre et Samy
  </div>
</div> %>


<footer class = "footer-container">

  <div class = "footer-content">
    <div class = "footer-icons">
    <p>Made by Samy</p>
    <a href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://slack.com/intl/fr-fr/"><i class="fa-brands fa-slack"></i></a>
    <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class = "footer-names">
     <p>FAQS</p>
     <p>TERMS AND CONDITIONS</p>
     <p>SPONSORS</p>
     <p>PAYMENT INFO</p>
     <p>CONTACT US</p>
    </div>
  </div>

</footer>
