.navbar {
  display: flex;
  background-color: $purple;
  overflow: hidden;
  width: 100%;
  height: 100px;
  .navbar-logo {
    background-image: url("accomodate-logo.png");
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100%;
  }

  .navbar-content {
    display: flex;
    width: 75%;
    height: 100px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    .flat-navbar {
      margin: 0px 15px;
    }
  }

  .navbar-avatar {
    width: 100px;
    height: 100%;
  }
}


.navbar p {
  color: $white;
  font-size: 12px;
}
